<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Qwerty Hero</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
        margin: 0px;
        overflow: hidden;
      }
      #example {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    </style>
  </head>
  <body onkeypress="myFunction()">
    <div id="example"></div>

  <script src="js/third-party/threejs/three.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>
  <script src="js/third-party/threejs/dat.gui.js"></script>
  <script src="js/vrscript.js"></script>
  <script src="js/gui.js"></script>
  <script type="text/javascript">
    
function myFunction(response){
  console.log('Run Forest!',response);
}

document.addEventListener('keydown', (event) => {
  const keyName = event.key;
  console.dir(event);
  console.log(keyName, event.code, event.keyCode, event.charCode);
});
//   if (keyName === 'Control') {
//     // not alert when only Control key is pressed.
//     return;
//   }

//   if (event.ctrlKey) {
//     // Even though event.key is not 'Control' (i.e. 'a' is pressed),
//     // event.ctrlKey may be true if Ctrl key is pressed at the time.
//     alert(`Combination of ctrlKey + ${keyName}`);
//   } else {
//     alert(`Key pressed ${keyName}`);
//   }
// }
// , false);

  </script>
  </body>
</html>
